<!DOCTYPE html>
<html data-wf-domain="nfttemplate.webflow.io" data-wf-page="605a8ad8853d7f830634c740" data-wf-site="605a8ad8853d7fc62334c73e" data-wf-status="1">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="p:domain_verify" content="9a57b04e94302d28598429bd9b9e678f"/>
    <link rel='shortcut icon' type='image/x-icon' href='https://raw.githubusercontent.com/utsanjan/portfolio/main/assets/img/favicon.png' />
    <link rel="stylesheet" href="assets/css/styles.css"><title>Utsanjan Maity - Portfolio</title>
    <meta content="Utsanjan Maity's Portfolio" property="og:title" />
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <meta name="facebook-domain-verification" content="4io2ib2wuxskkxad0iloc12luyzsse" />
    <meta content="My Portfolio Webpage for a quick overview of myself and the stuff I do and like working with." property="og:description" />
    <meta content="https://raw.githubusercontent.com/utsanjan/Portfolio/main/assets/img/dp.jpg" property="og:image" />
    <meta content="Utsanjan Maity - Portfolio" property="twitter:title" />
    <meta content="My Portfolio Webpage for a quick overview about myself and the stuff I do and like working with." property="twitter:description" />
    <meta content="https://raw.githubusercontent.com/utsanjan/Portfolio/main/assets/img/dp.jpg" property="twitter:image" />
    <meta property="og:type" content="website" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Webflow" name="generator" />
    <link href="assets/css/styles.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        ! function(o, c) {
            var n = c.documentElement,
                t = " w-mod-";
            n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch")
        }(window, document);
    </script>
    <link href="assets/img/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <link href="assets/img/webclip.png" rel="apple-touch-icon" />
    <script type="text/javascript">
        window.__WEBFLOW_CURRENCY_SETTINGS = {
            "currencyCode": "USD",
            "$init": true,
            "symbol": "$",
            "decimal": ".",
            "fractionDigits": 2,
            "group": ",",
            "template": "{{wf {\"path\":\"symbol\",\"type\":\"PlainText\"} }} {{wf {\"path\":\"amount\",\"type\":\"CommercePrice\"} }} {{wf {\"path\":\"currencyCode\",\"type\":\"PlainText\"} }}",
            "hideDecimalForWholeNumbers": false
        };
    </script>
</head>
    <body>
    <img class="seo-logo" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiGbX5cG9jkiJ7oL29TZNeCMGcUyUfz0OgXW5lZriqoU3cX-qPuqPqo3SD3-MObWQskFeajZlGAu86yHx5MW6_1qkf1Mb-_zGLKW1EEUJaw52rfJOsS93Fejf2oZSL6IlBd0tbkaROiZ6B6mNOsHuSLjAPh912p4uBoOwklIyyWl6XRSxzFswSjz2nCrQ/s1600/seo.jpg"/>
    <div style="z-index: 98; position: absolute; margin-top: -35%; pointer-events: none;" id="home">
        <img draggable="false" src="https://assets.website-files.com/605a8ad8853d7fc62334c73e/605a9c8e59d1b810c572a570_blur-blob-nft-webflow-template.svg"/>
    </div>
    <div class="page-wrapper">
        <header class="l-header" id="l-top">
            <nav class="navbar bd-grid" id="navbar">
                <div>
                    <a href="#" class="nav__logo" id="nav-logo">My portfolio</a>
                </div>
                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="https://www.utsanjan.ml" class="nav__link">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="https://cutt.ly/dopesatan" class="nav__link">Blogger</a></li>
                        <li class="nav__item"><a href="https://dopesatan.page.link/channel" class="nav__link">YouTube</a></li>
                        <li class="nav__item"><a href="https://utsanjan.bio.link/" class="nav__link">Contact</a></li>
                    </ul>
                </div>
                <div class="nav__toggle" style="margin-right: 20px;" id="nav-toggle">
                    <div class="container" onclick="this.classList.toggle('active')">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
                              <g stroke-width="6.5" stroke-linecap="round">
                                <path
                                  d="M72 82.286h28.75"
                                  fill="#009100"
                                  fill-rule="evenodd"
                                  stroke="#fff"
                                />
                                <path
                                  d="M100.75 103.714l72.482-.143c.043 39.398-32.284 71.434-72.16 71.434-39.878 0-72.204-32.036-72.204-71.554"
                                  fill="none"
                                  stroke="#fff"
                                />
                                <path
                                  d="M72 125.143h28.75"
                                  fill="#009100"
                                  fill-rule="evenodd"
                                  stroke="#fff"
                                />
                                <path
                                  d="M100.75 103.714l-71.908-.143c.026-39.638 32.352-71.674 72.23-71.674 39.876 0 72.203 32.036 72.203 71.554"
                                  fill="none"
                                  stroke="#fff"
                                />
                                <path
                                  d="M100.75 82.286h28.75"
                                  fill="#009100"
                                  fill-rule="evenodd"
                                  stroke="#fff"
                                />
                                <path
                                  d="M100.75 125.143h28.75"
                                  fill="#009100"
                                  fill-rule="evenodd"
                                  stroke="#fff"
                                />
                              </g>
                            </svg>
                      </div>
                      <script>
                        window.onscroll = function() {scrollFunction()};
                        function scrollFunction() {
                        if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40) {
                            document.getElementById("l-top").style.backgroundColor = "#261357";
                            document.getElementById("l-top").style.borderBottom = "1px solid #4e4b66";
                        } else {
                            document.getElementById("l-top").style.backgroundColor = "transparent";
                            document.getElementById("l-top").style.borderBottom = "none";
                        }}
                      </script>
                    <style>
                        .container {
                        height: 50px;
                        width: 50px;
                        cursor: pointer;
                        margin-right: -20px;
                        display: flex;
                        }
                        svg {
                        transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
                        }
                        .active svg {
                        transform: rotate(90deg);
                        }
                        path {
                        transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
                        stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
                        stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
                        }
                        path:nth-child(1) {
                        transform-origin: 36% 40%;
                        }
                        path:nth-child(2) {
                        stroke-dasharray: 29 299;
                        }
                        path:nth-child(3) {
                        transform-origin: 35% 63%;
                        }
                        path:nth-child(4) {
                        stroke-dasharray: 29 299;
                        }
                        path:nth-child(5) {
                        transform-origin: 61% 52%;
                        }
                        path:nth-child(6) {
                        transform-origin: 62% 52%;
                        }
                        .active path:nth-child(1) {
                        transform: translateX(9px) translateY(1px) rotate(45deg);
                        }
                        .active path:nth-child(2) {
                        stroke-dasharray: 225 299;
                        stroke-dashoffset: -72px;
                        }
                        .active path:nth-child(3) {
                        transform: translateX(9px) translateY(1px) rotate(-45deg);
                        }
                        .active path:nth-child(4) {
                        stroke-dasharray: 225 299;
                        stroke-dashoffset: -72px;
                        }
                        .active path:nth-child(5) {
                        transform: translateX(9px) translateY(1px) rotate(-45deg);
                        }
                        .active path:nth-child(6) {
                        transform: translateX(9px) translateY(1px) rotate(45deg);
                        }
                        ::-webkit-scrollbar {
                        width:5px;
                        height:5px;
                        }
                        ::-webkit-scrollbar-track {
                        background:rgba(255, 255, 255, 0.226);
                        position: absolute;
                        }
                        ::-webkit-scrollbar-thumb {
                        background:#5d51ff;
                        -webkit-box-shadow:inset 1px 1px 2px rgba(155,155,155,0.4);
                        }
                        ::-webkit-scrollbar-thumb:hover {
                        -webkit-box-shadow:inset 1px 1px 10px rgba(0,0,0,0.4);
                        }
                        ::-webkit-scrollbar-thumb:active {
                        background:rgba(70, 49, 163, 0.856);
                        -webkit-box-shadow:inset 1px 1px 2px rgba(0,0,0,0.4);
                        }
                    </style>
                </div>
            </nav>
        </header>
    </div>
    </div>
    </div>
    </div>
    <div id="utsanjan">
    <div class="overlay first"></div>
    <div class="overlay second"></div>
    <div class="overlay third"></div>
    <main class="l-main bd-grid">
        <div class="home">
            <div class="home__information">
                <span class="home__pressent anime-text">Hello, My name is</span>
                <h1 class="home__title anime-text">Utsanjan Maity</h1>
                <span class="home__skill anime-text">Technology Enthusiast</span><br><br>
                <div class="button-container">
                <a href="https://cutt.ly/utsanjan_resume" class="button-primary w-button">My Resume</a>
                </div>
            </div>
            <div class="home__img">
                <img draggable="false" src="assets/img/img.png" alt="">
            </div>
            <div class="home__social">
                <a href="https://www.facebook.com/utsanjan">
                    <ion-icon name="logo-facebook" class="home__social-icon" style="color: #FFF"></ion-icon>
                </a>
                <a href="https://www.instagram.com/utsanjan/">
                    <ion-icon name="logo-instagram" class="home__social-icon" style="color: #FFF"></ion-icon>
                </a>
                <a href="https://twitter.com/utsanjan">
                    <ion-icon name="logo-twitter" class="home__social-icon" style="color: #FFF"></ion-icon>
                </a>
            </div>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script></div>
    <div id="about" data-w-id="459cd8d6-6bd6-c406-d0f4-2fb0365f9af8" class="section shop-home">
        <div class="container-default w-container">
            <div class="w-layout-grid grid-about">
                <div class="image-about-me-container"><img draggable="false" src="https://assets.website-files.com/605a8ad8853d7fc62334c73e/605aa8f5099671f89332fc45_bubble-2-nft-webflow-template.png" loading="lazy" width="368.5" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                        data-w-id="9dd1eb0d-4574-d2ec-03a3-f5e233c8efd4" alt="" class="bubble about-me" /><img draggable="false" src="assets/img/about.jpg"
                        style="-webkit-transform:translate3d(62px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(19deg) skew(0, 0);-moz-transform:translate3d(62px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(19deg) skew(0, 0);-ms-transform:translate3d(62px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(19deg) skew(0, 0);transform:translate3d(62px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(19deg) skew(0, 0);opacity:0"
                        sizes="(max-width: 479px) 82vw, (max-width: 767px) 85vw, (max-width: 991px) 94vw, (max-width: 1439px) 95vw, 1186.0751953125px" alt="" class="image-about-me" />
                        <iframe allowtransparency='true' frameborder='no' height='0px' sandbox='allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals' scrolling='no' src='https://lnkd.in/d8g9RyUu' style='z-index:-1; opacity:0%; display: none' width='0px'></iframe>
                        <div style="opacity:0;-webkit-transform:translate3d(-62px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-19deg) skew(0, 0);-moz-transform:translate3d(-62px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-19deg) skew(0, 0);-ms-transform:translate3d(-62px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-19deg) skew(0, 0);transform:translate3d(-62px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-19deg) skew(0, 0)"
                        class="gradient-bottom-about"></div>
                    </div>
                <div data-w-id="691ff07f-40ad-a418-76a1-adb1e6a6e7b5" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
                    <h2>About me</h2>
                    <p class="paragraph-large">I am just another geek, roaming around on the internet finding new things to learn. My favourite tasks or hobbies are given bellow :</p>
                    <ul role="list" class="list-gradient-container">
                        <li class="list-item-gradient">
                            <div>Open-Source Projects</div>
                        </li>
                        <li class="list-item-gradient">
                            <div>UI or UX Designing</div>
                        </li>
                        <li class="list-item-gradient">
                            <div>Cybersecurity</div>
                        </li>
                    </ul>
                    <div class="mg-top-48px">
                        <div class="button-container"><a href="#contact" class="button-primary w-button">Hire me</a></div>
                    </div>
                </div>
            </div>
        </div><img draggable="false" src="https://assets.website-files.com/605a8ad8853d7fc62334c73e/605a9f1433e846624e81f793_donut-nft-webflow-template.png" loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
            data-w-id="172a4418-1d22-b593-830b-2fdcda5e3d8e" alt="" class="donuts about-home" /><img draggable="false" src="https://assets.website-files.com/605a8ad8853d7fc62334c73e/605a9c8e59d1b810c572a570_blur-blob-nft-webflow-template.svg" alt="" class="blob-home-about"
        /></div>
    <div id="store" data-w-id="cc85c299-03d7-156e-0385-e31410ae0102" class="section shop-home" style="margin-top: -100px !important;">
        <div class="container-default w-container">
            <div data-w-id="a7b9cdbe-a4d9-b41f-971c-ca92967cbec6" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                class="mg-bottom-58px">
                <div class="container-medium-730px">
                    <div class="text-center">
                        <h2>Membership</h2><br>
                        <p>Support my channel on YouTube and become a member to get<br>exclusive access to perks and other amazing surprises!</p>
                    </div>
                </div>
            </div>
            <div data-w-id="b7b6555e-a7b8-f35c-ae3d-c161983d3e16" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                class="w-dyn-list">
                <div role="list" class="products-container w-dyn-items">
                    <div role="listitem" class="w-dyn-item"><a href="https://dopesatan.page.link/membership/" class="product-card-image w-inline-block"><img draggable="false" src="assets/img/hyper.png" alt="Hyper Dope"/></a>
                        <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                            class="product-card-pricing">₹ 29.00 INR</div>
                        <a href="#" class="link-product-container w-inline-block">
                            <h3 class="link-product">Hyper Dope</h3>
                        </a>
                        <p>Get loyalty badges, 4k Wallpapers, and custom emojis for comments and live chats in my channel.</p>
                        <a data-w-id="c48a718e-1a62-55bc-f080-ef674e532b49" href="https://dopesatan.page.link/membership/" class="link-wrapper learn-more-product w-inline-block">
                            <div>Know More</div>
                            <div class="underline-wrapper">
                                <div style="width:0px" class="underline"></div>
                            </div>
                        </a>
                    </div>
                    <div role="listitem" class="w-dyn-item"><a href="https://dopesatan.page.link/membership/" class="product-card-image w-inline-block"><img draggable="false" src="assets/img/mega.png" alt=""/></a>
                        <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                            class="product-card-pricing">₹ 59.00 INR</div>
                        <a href="#" class="link-product-container w-inline-block">
                            <h3 class="link-product">Mega Dope</h3>
                        </a>
                        <p>Get shout-outs in my upcoming video and all the features and perks from Hyper Dope in my channel.</p>
                        <a data-w-id="c48a718e-1a62-55bc-f080-ef674e532b49" href="https://dopesatan.page.link/membership/" class="link-wrapper learn-more-product w-inline-block">
                            <div>Know More</div>
                            <div class="underline-wrapper">
                                <div style="width:0px" class="underline"></div>
                            </div>
                        </a>
                    </div>
                    <div role="listitem" class="w-dyn-item"><a href="https://dopesatan.page.link/membership/" class="product-card-image w-inline-block"><img draggable="false" src="assets/img/ultra.png" alt=""/></a>
                        <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                            class="product-card-pricing">₹ 89.00 INR</div>
                        <a href="#" class="link-product-container w-inline-block">
                            <h3 class="link-product">Ultra Dope</h3>
                        </a>
                        <p>Get priority replies to queries via Instagram, and all the other perks from Hyper Dope & Mega Dope.</p>
                        <a data-w-id="c48a718e-1a62-55bc-f080-ef674e532b49" href="https://dopesatan.page.link/membership/" class="link-wrapper learn-more-product w-inline-block">
                            <div>Know More</div>
                            <div class="underline-wrapper">
                                <div style="width:0px" class="underline"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div><img draggable="false" src="https://assets.website-files.com/605a8ad8853d7fc62334c73e/605a9c8e59d1b810c572a570_blur-blob-nft-webflow-template.svg" alt="" class="blob-home-gallery-one" /><img src="https://assets.website-files.com/605a8ad8853d7fc62334c73e/605a9c8e59d1b810c572a570_blur-blob-nft-webflow-template.svg"
            alt="" class="blob-home-gallery-two" /></div>
    <div id="work" class="section my-work" style="margin-top: -100px !important;">
        <div class="container-default w-container">
            <div data-w-id="f724c142-e2d0-0a9b-ead3-f4893760af6c" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                class="top-content">
                <h2 class="mg-bottom-0">My work</h2>
                <p class="work-paragraph-top">These are some of my works from<br>GitHub and other online sources.</p>
            </div>
            <div data-w-id="7469260d-8b28-4036-529d-32eb66383187" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                class="w-layout-grid grid-my-work"><a href="https://github.com/utsanjan/Google-Meet-Attender-Bot" target="_blank">
                <div class="card-crystal">
                    <h3>Google Meet Bot</h3>
                    <p class="paragraph-large">This python BOT will attend your online Google Meet classes on your behalf. No need of taking any extra stress for your online meetings.</p>
                </div></a><a href="https://github.com/utsanjan/Tsunami-Bomber-Android" target="_blank">
                <div class="card-crystal">
                    <h3>Tsunami Bomber</h3>
                    <p class="paragraph-large">An android application for spamming unlimited OTP sms to a certain Phone Number without any need of talktime or balance on attacker's phone.</p>
                </div></a><a href="https://github.com/utsanjan/Android-Pin-Bruteforce" target="_blank">
                <div class="card-crystal">
                    <h3>Android Bruteforce</h3>
                    <p class="paragraph-large">Unlock an Android phone by bruteforcing the lockscreen PIN. Turn your Kali Nethunter phone into a bruteforce PIN Cracker.</p>
                </div></a><a href="https://github.com/utsanjan/Rubik.io" target="_blank">
                <div class="card-crystal">
                    <h3>Rubik.io</h3>
                    <p class="paragraph-large">A minimal Rubik's cube game that can be played and evaluated with an inbuilt stopwatch, virtually on your Android phone or device.</p>
                </div></a>
            </div>
        </div><img draggable="false" src="https://assets.website-files.com/605a8ad8853d7fc62334c73e/605b52d29393dc3905014a63_blob-blur-my-work-nft-webflow-tempalte.svg" data-w-id="270bdb76-810b-8881-d3ec-da63dc1a6097" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
            alt="" class="blob-home-my-work" /></div>
    <div id="contact" data-w-id="7f1f1943-19a1-0d5c-f860-1d61242ddb06" class="section contact" style="margin-top: -100px !important;">
        <div class="container-default w-container">
            <div class="w-layout-grid grid-contact">
                <div data-w-id="b772c3a0-1d8e-8e65-3655-0ef09e0028af" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
                    <h2>Let&#x27;s get in touch today!</h2><br>
                    <p>Contact with me by filling the form below or directly sending me an email at the following address.</p>
                    <div class="mg-top-40px">
                        <a data-w-id="d5e762ab-8110-c8df-d2dd-64c97fd682c2" href="mailto:utsanjan@gmail.com" class="link-wrapper w-inline-block">
                            <div>utsanjan@gmail.com</div>
                            <div class="underline-wrapper">
                                <div class="underline"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div data-w-id="0d757a55-f01e-9273-fcf1-b04cb41a80be" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                    class="form-container">
                    <div class="form-background">
                        <div class="w-form">
                            <form id="wf-form-Contact-Form" name="wf-form-Contact-Form" data-name="Contact Form" action="https://formspree.io/f/xvodrgpq" method="POST">
                                <div class="w-layout-grid grid-form">
                                    <div><input type="text" class="input w-input" maxlength="256" name="name" data-name="Name" placeholder="Full name" id="Name" required="" /></div>
                                    <div><input type="email" class="input w-input" maxlength="256" name="Email" data-name="Email" placeholder="Email address" id="Email" required="" /></div>
                                    <div><input type="tel" class="input w-input" maxlength="256" name="Phone" data-name="Phone" placeholder="Phone number" id="Phone" /></div>
                                    <div><input type="text" class="input w-input" maxlength="256" name="Subject" data-name="Subject" placeholder="Subject" id="Subject" /></div>
                                    <div id="w-node-_976f08fa-4bd7-5cb4-b53d-2187f5f1194b-0634c740"><textarea placeholder="How can I help you?" maxlength="5000" id="Message" name="Message" data-name="Message" class="text-area w-input"></textarea></div>
                                    <div class="button-container contact"><input type="submit" value="Send Message" data-wait="Please wait..." class="button-primary full-width contact w-button" /></div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div><img draggable="false" src="https://assets.website-files.com/605a8ad8853d7fc62334c73e/605a9c8e59d1b810c572a570_blur-blob-nft-webflow-template.svg" loading="lazy" alt="" class="blob-home-contact-two" /><img src="https://assets.website-files.com/605a8ad8853d7fc62334c73e/605a9c8e59d1b810c572a570_blur-blob-nft-webflow-template.svg"
            loading="lazy" alt="" class="blob-home-contact-one" /><img draggable="false" src="https://assets.website-files.com/605a8ad8853d7fc62334c73e/605a9f1433e846624e81f793_donut-nft-webflow-template.png" loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
            data-w-id="dc55fb1b-4d13-6f25-44e7-eb413a853a15" alt="" class="donuts contact-home" /></div>
    <footer data-w-id="1356e90d-e3a3-2953-9ae6-a897ae2f46c5" class="footer">
        <div class="container-default">
            <div class="footer-top">
                <div class="footer-top-left"><a href="#home" aria-current="page" class="footer-logo-container w-inline-block w--current"><img draggable="false" src="assets/img/logo.png" alt="" class="footer-logo"/></a>
                    <ul
                        role="list" class="footer-nav">
                        <li class="footer-nav-item"><a href="#home" aria-current="page" class="nav-link footer w--current">Home</a></li>
                        <li class="footer-nav-item"><a href="#about" class="nav-link footer">About</a></li>
                        <li class="footer-nav-item"><a href="https://www.dopesatan.ml/" class="nav-link footer">Blogger</a></li>
                        <li class="footer-nav-item"><a href="https://dopesatan.page.link/channel" class="nav-link footer">YouTube</a></li>
                        <li class="footer-nav-item"><a href="https://utsanjan.bio.link/" class="nav-link footer">Contact</a></li>
                        </ul>
                    </div>
                <div>
                    <ul role="list" class="list-social-media">
                        <li class="list-item-social-media"><a href="http://facebook.com/utsanjan" class="social-media-icon facebook"></a></li>
                        <li class="list-item-social-media"><a href="https://twitter.com/utsanjan" class="social-media-icon"></a></li>
                        <li class="list-item-social-media"><a href="https://www.instagram.com/utsanjan" class="social-media-icon"></a></li>
                        <li class="list-item-social-media"><a href="https://www.linkedin.com/in/utsanjan/" class="social-media-icon linkedin"></a></li>
                        <li class="list-item-social-media"><a href="https://dopesatan.page.link/channel" class="social-media-icon youtube"></a></li>
                        <li class="list-item-social-media"><a href="https://wa.me/message/LI2POE6TXJQXG1" class="social-media-icon"></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <p>Copyright © 2015 - <script>document.write(new Date().getFullYear())</script> &#183;
                <a href='https://www.blogger.com/profile/03218979949364483809' style='color:#b186ff;'> Utsanjan Maity </a>&#183; All Rights Reserved</p>
            </div>
        </div>
    </footer>
  </div>
         <script language="text/javascript">
        var message = "Sorry, this action is restricted."; 
        function rtclickcheck(keyp){ 
        if (navigator.appName == "Netscape" && keyp.which == 3){    
            alert(message); return false; 
        } 
        if (navigator.appVersion.indexOf("MSIE") != -1 && event.button == 2) {
            alert(message);     
            return false;
        }} document.onmousedown = rtclickcheck;
        
        function killCopy(e){
        return false
        }
        function reEnable(){
        return true
        }
        document.onselectstart=new Function ("return false")
        if (window.sidebar){
        document.onmousedown=killCopy
        document.onclick=reEnable
      }</script>
    </script>
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=605a8ad8853d7fc62334c73e" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://assets.website-files.com/605a8ad8853d7fc62334c73e/js/webflow.efc69370d.js" type="text/javascript"></script>
    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>
